.attractions__place {
  max-width: 47%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .attractions__place {
    gap: 15px;
  }
}

@media screen and (max-width: 984px) {
  .attractions__place {
    max-width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .attractions__place {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    gap: 0;
  }
}
