.description__text {
  max-width: 100%;
  text-align: justify;
  align-self: flex-end;
  margin: 0 0 25px;
  padding: 0;
}

.description__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 870px) {
  .description__text {
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 870px) {
  .description__text {
    line-height: 1.5;
  }
}
