.aboutPlace-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 70px 50px 100px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutPlace-city {
    margin: 50px 30px;
  }
}

@media screen and (max-width: 984px) {
  .aboutPlace-city {
    width: 90%;
    padding: 0;
    font-size: 16px;
    margin: 25px auto;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city {
    margin: 20px auto;
    width: 100%;
    background-color: #fff;
    padding: 0;
    font-size: 16px;
  }
}
