.cover {
  width: 100%;
  min-height: 300px;
  background: url(../../images/pafos1.jpg) no-repeat center / cover;
  padding: 20px 0;
  margin: 100px 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1184px) {
  .cover {
    margin: 50px 0;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    margin: 30px 0;
  }
}

@media screen and (max-width: 715px) {
  .cover {
    background-position: center center;
    min-height: 100px;
    margin: 20px 0;
  }
}
