.footer__phone {
  color: #f78e2f;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 1184px) {
  .footer__phone {
    font-size: 15px;
  }
}

@media screen and (max-width: 984px) {
  .footer__phone {
    font-size: 14px;
  }
}

@media screen and (max-width: 715px) {
  .footer__phone {
    font-size: 15px;
  }
}
