.profile-card__element {
  background: url(../../../images/photo-element.png) no-repeat center / cover;
  width: 550px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 5%;
  z-index: 15;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .profile-card__element {
    width: 470px;
    height: 160px;
    right: 3%;
  }
}
@media screen and (max-width: 1184px) {
  .profile-card__element {
    width: 470px;
    height: 160px;
    right: 2%;
  }
}

@media screen and (max-width: 984px) {
  .profile-card__element {
    width: 400px;
    height: 140px;
  }
}

@media screen and (max-width: 715px) {
  .profile-card__element {
    width: 360px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile-card__element {
    width: 300px;
    height: 105px;
  }
}
