.aboutPlace__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 35px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutPlace__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 984px) {
  .aboutPlace__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace__title {
    width: 90%;
    font-size: 25px;
  }
}
