.aboutProject__text-place {
  max-width: 950px;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutProject__text-place {
    max-width: 900px;
    font-size: 18px;
  }
}

@media screen and (max-width: 984px) {
  .aboutProject__text-place {
    max-width: 700px;
    font-size: 17px;
    text-align: justify;
    margin: 0 20px;
  }
}

@media screen and (max-width: 715px) {
  .aboutProject__text-place {
    max-width: 90%;
    font-size: 16px;
    margin: 0 10px;
  }
}
