.aboutPlace-city__image {
  width: 19.5%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  border-radius: 2px;
}

.aboutPlace-city__photo:last-of-type {
  margin-right: 0;
}

.aboutPlace-city__image:hover {
  transform: scale(1.15);
  z-index: 10;
}

@media screen and (max-width: 1280px) {
  .aboutPlace-city__image {
    height: 300px;
    max-height: 100%;
  }
}

@media screen and (max-width: 984px) {
  .aboutPlace-city__image {
    width: 32.5%;
    height: 330px;
  }
}

@media screen and (max-width: 984px) {
  .aboutPlace-city__image:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 984px) {
  .aboutPlace-city__image:nth-of-type(3) {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city__image {
    width: 49%;
    height: auto;
    border-radius: 0;
    margin: 0;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city__image:nth-of-type(4) {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city__image:nth-of-type(5) {
    display: flex;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city__image:hover {
    transform: none;
  }
}

@media screen and (max-width: 525px) {
  .aboutPlace-city__image {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 525px) {
  .aboutPlace-city__image:nth-of-type(4) {
    display: flex;
  }
}

@media screen and (max-width: 525px) {
  .aboutPlace-city__image:nth-of-type(5) {
    margin-bottom: 0px;
  }
}
