.infrastructure__item {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .infrastructure__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 715px) {
  .infrastructure__item {
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
  }
}
