.element__next {
  max-width: 60px;
  min-height: 100px;
  background: url(../../../images/icon-next-1.png) no-repeat center;
  background-size: contain;
  border: none;
  padding: 0;
  margin: 0;
}

.element__next:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 984px) {
  .element__next {
    max-width: 40px;
  }
}
