.map__subtitle {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .map__subtitle {
    font-size: 14px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 984px) {
  .map__subtitle {
    font-size: 13px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 715px) {
  .map__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .map__subtitle {
    font-size: 7px;
  }
}
