.advantage {
  background-color: #f8fafb;
  margin: 0;
  padding: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 984px) {
  .advantage {
    padding: 30px;
  }
}

@media screen and (max-width: 715px) {
  .advantage {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
