.video__iframe {
  margin: 60px 0;
  padding: 0 0 0 80px;
  width: 640px;
  height: 480px;
}

@media screen and (max-width: 1280px) {
  .video__iframe {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1184px) {
  .video__iframe {
    padding: 0;
    margin: 15px 0 20px;
    align-self: center;
  }
}

@media screen and (max-width: 984px) {
  .video__iframe {
    width: 550px;
    height: 413px;
  }
}

@media screen and (max-width: 715px) {
  .video__iframe {
    width: 320px;
    height: 240px;
  }
}
