.aboutBeach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 50px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutBeach {
    margin: 50px 30px;
  }
}

@media screen and (max-width: 984px) {
  .aboutBeach {
    width: 90%;
    margin: 40px auto;
  }
}

@media screen and (max-width: 715px) {
  .aboutBeach {
    margin: 20 auto;
  }
}
