.footer {
  width: 100%;
  min-height: fit-content;
  box-sizing: border-box;
  background-color: #000000cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  position: relative;
  padding: 40px 30px;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 30px;
  }
}

@media screen and (max-width: 1184px) {
  .footer {
    padding: 30px 25px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 715px) {
  .footer {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding-left: 35px;
  }
}
