.aboutPlace-city__subtitle {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.4;
  margin: 0 0 25px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 1184px) {
  .aboutPlace-city__subtitle {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 715px) {
  .aboutPlace-city__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    align-self: center;
  }
}
