.map__main {
  width: 1000px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 0 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .map__main {
    width: 900px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 984px) {
  .map__main {
    width: 700px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 715px) {
  .map__main {
    display: none;
  }
}
