.aboutStudy__subtitle {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .aboutStudy__subtitle {
    align-self: center;
  }
}
