.aboutStudy__container {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .aboutStudy__container {
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 715px) {
  .aboutStudy__container {
    max-width: 90%;
    margin: 0 auto;
  }
}
