.video__iframe {
  width: 47%;
  height: 363px;
  align-self: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

/* @media screen and (max-width: 1280px) {
  .video__iframe {
    width: 525px;
  }
}

@media screen and (max-width: 1184px) {
  .video__iframe {
    max-width: 440px;
    padding: 0;
    margin: 15px 0 20px;
    align-self: center;
  }
} */

@media screen and (max-width: 984px) {
  .video__iframe {
    /* width: 565px;
    max-width: 100%; */
    /* padding: 0; */
    margin: 20px 0 20px;
    align-self: center;
    width: 100%;
    /* width: 550px;
    height: 413px; */
  }
}

/* @media screen and (max-width: 715px) {
  .video__iframe {
    width: 100%;
  }
} */
