.aboutStudy__images {
  display: flex;
  flex-direction: column;
  width: 47%;
  /* gap: 10px; */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .aboutStudy__images {
    width: 100%;
  }
}

@media screen and (max-width: 715px) {
  .aboutStudy__images {
    width: 100%;
    /* gap: 15px; */
  }
}
