.video {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 1184px) {
  .video {
    margin: 50px 30px;
  }
} */

@media screen and (max-width: 984px) {
  .video {
    margin: 20px auto;
  }
}

@media screen and (max-width: 715px) {
  .video {
    margin: 0;
  }
}
