.section__title {
  font-family: "Open Sans", Arial, sans-serif;
  color: #1d1d1f;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 1184px) {
  .section__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 715px) {
  .section__title {
    width: 90%;
    font-size: 25px;
  }
}
