.infrastructure__image_size-m {
  margin-bottom: 20px;
}

@media screen and (max-width: 715px) {
  .infrastructure__image_size-m {
    justify-self: center;
    width: 50%;
  }
}

@media screen and (max-width: 585px) {
  .infrastructure__image_size-m {
    width: 100%;
  }
}
