.footer {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: #000000cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  position: relative;
}

@media screen and (max-width: 984px) {
  .footer {
    min-height: 250px;
  }
}

@media screen and (max-width: 715px) {
  .footer {
    min-height: 200px;
  }
}

@media screen and (max-width: 525px) {
  .footer {
    min-height: 150px;
  }
}
