.footer__address {
  height: 100%;
  min-height: fit-content;
  margin: 0 0 30px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .footer__address {
    margin-bottom: 20px;
  }
}
