/* .aboutCity {
  display: flex;
  justify-content: center;
  margin: 120px 60px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutCity {
    margin: 100px 50px;
  }
}

@media screen and (max-width: 984px) {
  .aboutCity {
    margin: 60px 40px 10px;
  }
}

@media screen and (max-width: 715px) {
  .aboutCity {
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0 30px;
  }
} */

.aboutCity {
  display: flex;
  box-sizing: border-box;
  margin: 70px 50px;
  padding: 0;
  justify-content: space-between;
}

@media screen and (max-width: 1184px) {
  .aboutCity {
    margin: 50px 30px;
  }
}

@media screen and (max-width: 984px) {
  .aboutCity {
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 25px auto;
  }
}

@media screen and (max-width: 715px) {
  .aboutCity {
    width: 100%;
  }
}
