.video__icon {
  background: url(../../../images/icon-down.png) no-repeat center;
  width: 80px;
  min-height: 80px;
  background-size: contain;
  position: static;
  align-self: center;
}

/* @media screen and (max-width: 1280px) {
  .video__icon {
    width: 150px;
    top: 200px;
    left: 190px;
  }
} */

@media screen and (max-width: 1184px) {
  .video__icon {
    width: 50px;
    min-height: 50px;
  }
}
