.section__subtitle {
  font-family: "Open Sans", Arial, sans-serif;
  color: #1d1d1f;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 984px) {
  .section__subtitle {
    font-size: 16px;
  }
}
