.education__text {
  max-width: 900px;
  text-align: justify;
  margin: 0 0 40px;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .education__text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 984px) {
  .education__text {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 715px) {
  .education__text {
    margin: 0 20px 15px;
  }
}

@media screen and (max-width: 525px) {
  .education__text {
    margin-left: 10px;
    margin-right: 10px;
  }
}
