.aboutProject-place__title {
  margin-bottom: 30px;
  /* max-width: 800px;
  text-align: center;
  margin: 0 0 25px;
  padding: 0; */
}

/* @media screen and (max-width: 984px) {
  .aboutProject-place__title {
    max-width: 700px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 715px) {
  .aboutProject-place__title {
    max-width: 60%;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 425px) {
  .aboutProject-place__title {
    max-width: 80%;
  }
} */
