.aboutBeach__subtitle {
  align-self: flex-start;
  margin: 0 0 30px;
}

@media screen and (max-width: 715px) {
  .aboutBeach__subtitle {
    max-width: 90%;
    margin: 0 auto 15px;
  }
}
