.aboutBeach__container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 35px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .aboutBeach__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
  }
}

@media screen and (max-width: 984px) {
  .aboutBeach__container {
    justify-content: flex-start;
  }
}
