.aboutProject__video-iframe {
  width: 50%;
  max-width: 47%;
  height: 400px;
  max-height: 100%;
  align-self: flex-start;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.aboutProject__video-iframe:hover {
  cursor: pointer;
}

@media screen and (max-width: 1184px) {
  .aboutProject__video-iframe {
    height: 370px;
  }
}

@media screen and (max-width: 984px) {
  .aboutProject__video-iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
    margin: 20px 0 0;
    border-radius: 0;
    align-self: center;
  }
}

@media screen and (max-width: 715px) {
  .aboutProject__video-iframe {
    margin: 15px 0 0;
  }
}
